.container_basket {
  background-color: #51dbb9;
  width: 100%;
}

.products_basket {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  width: 1440px;
  margin: 0 auto;
}

.products__card_basket {
  margin-left: 70px;
}

.header_basket {
  margin: 0 auto;
  display: flex;
  margin-left: 290px;
}

.title_bakset {
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 31px;
  line-height: 38px;
  margin-bottom: 81px;
  padding-top: 54px;
  margin-left: 50px;
  position: relative;
  right: 50px;
}

.button__basket {
  width: 200px;
  height: 30px;
  border: 2px solid #3bc72f;
  margin-top: 115px;
  margin-left: 100px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #37a814;
  position: relative;
  left: 230px;
  
}

.button__basket:hover {
  background-color: #e61d0f;
  border: none;
}





.footer_basket {
  display: flex;
  padding: 28px 0 35px 290px;
  color:#FFFFFF;
  text-transform: uppercase;
  align-items: center;
  justify-content: space-between;
}

.buttonBasket__zakaz {
  background-color: #D58C51;
  width: 200px;
  height: 30px;
  margin-top: 115px;
  margin-left: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  position: relative;
  right: 580px;
    
}

.buttonBasket__zakaz:hover {
  background-color: #e61d0f;
  }



