.container-login {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 500px;
}

.container-login__item {
    margin-bottom: 20px;
  font-size: 25px;
  color: rgb(69, 212, 34);
}
.container-login__item_title {
  margin-bottom: 20px;
font-size: 45px;
color: rgb(69, 212, 34);
}
