.product-list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  
}

.product-list__h1 {
  display: block;
  font-size: 45px;
  color: rgb(69, 212, 34);
  background-color: rgb(153, 240, 240);
  width: 100%;
}

.product-list__search {
  width: 500px;
  height: 30px;
  font-size: 28px;
  margin-bottom: 20px;
}

.product-list__select {
  width: 500px;
  height: 30px;
  font-size: 24px;
  margin-bottom: 20px;
}

.product-list__list-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.product__logout {
  width: 100px;
  height: 30px;
  border: 2px solid #3bc72f;
  margin-top: 120px;
  margin-left: 1070px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #37a814;
  position: absolute;

}

.product__logout:hover {
  background-color: #e61d0f;
  border: none;
}

.product__basket {
  width: 300px;
  height: 50px;
  border: 2px solid #76d551;
    margin-top: 115px;
  margin-left: 650px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #181bcc;
  position: absolute;

}

.product__basket:hover {
  background-color: #e61d0f;
  border: none;
}