.container-registration {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 500px;
}

.container-registration__item {
  margin-bottom: 20px;
  font-size: 25px;
  color: rgb(69, 212, 34);
}
.container-registration__item_title {
  margin-bottom: 20px;
  font-size: 45px;
  color: rgb(69, 212, 34);
}
