.fetch-products__wrapper {
    margin-bottom: 50px;
    position: absolute;
    top: 37px;
    
  }
  
  .fetch-products__button {
    
    width: 300px;
    height: 50px;
    background-color: aqua;
    
  }
  