.product {
  background-color: rgb(153, 240, 240);
  margin: 0 auto;
  min-width: 300px;
  max-width: 300px;
  width: 500px;
  min-height: 700px;
  max-height: 1300px;
  border: 1px solid black;
    padding: 5px;
}

.product__image {
  margin: 0 auto;
  width: 200px;
}

.addtoBasket {
  width: 200px;
  height: 30px;
  border: 2px solid #76d551;
  font-size: 20px;
  color: #185c16;
}

.addtoBasket:hover {
  background-color: #e61d0f;
  border: none;

}

.addtoBasket:focus {
  background-color: #080707;
  outline-offset: 3px;
}

.button__spisok {
  width: 150px;
  height: 20px;
  margin-top: 20px;
   font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: #101110;
}

.button__spisok:hover {
  background-color: #e61d0f;
  border: none;
}